$blue: rgba(20, 40, 200, .5);
$white: rgba(255, 255, 255, 10);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;

}

.app {
  padding: 2rem;

  button, a {
    padding: 1rem;
    margin: .5rem;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: .5rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    background: $blue;
    color: $white;
    outline: none;

  }
}

.disabled {
  pointer-events: none;
  opacity: .5;
  cursor: not-allowed;
}

.form {

  &-statusbar {
    width: 200px;
    height: 16px;
    position: relative;
    border: 2px solid rgba(100, 100, 100, .75);
    background-color: rgba(200, 200, 200, .5);
    border-radius: 3px;

    &-fill {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgba(255, 0, 0, 1);
      transition: width .25s ease-in-out;
    }

    &-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: 'Verdana', sans-serif;
      font-size: 12px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
